<header class="header">
  <div class="container">
    <ul class="menu">
      <li>
        <a href="./index.html"
          ><img src="./imgs/logo_white-7.png" alt="logo"
        /></a>
      </li>
      <li class="li_menu_before">
        <a id="home" href="./index.html">Домой</a>
      </li>
      <li class="li_menu_before">
        <a class="about">О нас</a>
      </li>
      <li class="li_menu_before"><a class="blog">Блог</a></li>
      <li class="li_menu_before">
        <a class="products">Товары</a>
      </li>
      <li class="li_menu_before">
        <a class="form">Вход</a>
      </li>
      <li class="search_header">
        <a href="#">
          <img class="img_header" src="./imgs/search-solid.svg" alt="search" />
        </a>
      </li>
    </ul>
  </div>
  <div class="js_push_header"></div>
</header>
